[submodule "SwiftSMART"]
	path = SwiftSMART
	url = https://github.com/smart-on-fhir/Swift-SMART.git
	branch = master
[submodule "ResearchKit"]
	path = ResearchKit
	url = https://github.com/ResearchKit/ResearchKit.git
